# These are required only for re-packaging the training job outputs to work with TorchServe - as
# described in train.py's enable_torchserve_multi_model():
sagemaker-pytorch-inference>=2,<3
torch-model-archiver
scipy>=1.10.0rc1 # not directly required, pinned by Snyk to avoid a vulnerability
